.welcome {
    text-align: center;
}

.welcome__title {
    font-size: 30px;
    margin: 0;
}

.welcome__info {
    font-size: 20px;
}

.welcome__info a {
    color: red;
    text-decoration: none;
}


