body {
    background: #fff;
    padding: 0;
    margin: 0;
    color: #314659;
    font-family: Arial, sasn-serif;
}

.app {
    background: #fff;
    max-width: 700px;
    width: 100%;
    margin: 40px auto;
    padding: 42px 24px 50px;
    border: 1px solid #ebedf0;
    border-radius: 2px;
}

.app__justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 30px;
}

* {
    box-sizing: border-box;
    transition: all .3s;
}